<section>
    <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
        <div>
            <owl-carousel-o [options]="customMainSlider  ">
    <ng-template carouselSlide>
        <img src="/images/img1.avif" class="w-full h-[300px]" alt="">
    </ng-template>   
    <ng-template carouselSlide>
        <img src="/images/img2.avif" class="w-full h-[300px]" alt="">
    </ng-template>   
    <ng-template carouselSlide>
        <img src="/images/img3.avif" class="w-full h-[300px]" alt="">
    </ng-template>   
    <ng-template carouselSlide>
        <img src="/images/img4.avif" class="w-full h-[300px]" alt="">
    </ng-template>   
    <ng-template carouselSlide>
        <img src="/images/img5.avif" class="w-full h-[300px]" alt="">
    </ng-template>   
    <ng-template carouselSlide>
        <img src="/images/img6.avif" class="w-full h-[300px]" alt="">
    </ng-template>      
  </owl-carousel-o>

            
        </div>
        <div>
            <img src="/images/grocery-banner.png" class="w-full    h-[150px]" alt="">
            <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">
        </div>
    </div>
</section>

<section>
    <h2 class="text-4xl text-center p-5">Popular Categories</h2>
     <owl-carousel-o [options]="customOptions">
    @for (cat of Categories; track cat._id) {
      <ng-template carouselSlide>
        <div>
            <img [src]="cat.image" class="w-full h-[300px] object-contain" [alt]="cat.name">
            <h3 class="text-green-600">{{cat.name}}</h3>
        </div>
      </ng-template>
    }

  </owl-carousel-o>
</section>

<section>
    <h2 class="text-center text-4xl text-black py-10">Popular Products</h2>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10">
        @for (product of Products; track product._id) {
            <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative">
            <div class="card-img">
                <img [src]="product.imageCover" [alt]="product.title" class="w-full h-[250px] object-contain">
            </div>
            <div class="card-body px-2 py-4">
                <h4 class="text-green-500 text-xs">{{product.category.name}}</h4>
                <h3 class="font-medium" > {{product.title.split(' ',2).join(' ') }} </h3>
                <div class="flex justify-between items-center">
                    <span>{{product.price}}</span>
                    <div class="flex items-center">
                        <i class="fa fa-star text-yellow-300"></i>
                        <span class="text-gray-500">{{product.ratingsAverage }}</span>
                    </div>
                </div>
            </div>
            <button class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Add to cart</button>
        </div>
        }
    </div>
    
</section>