
<nav class="bg-gray-100 fixed w-full z-20 top-0 start-0 border-b border-default min-h-16">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto py-2 px-4">
    <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
             <img src="/images/freshcart-logo.svg" alt="">
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
    </button>
    <div class="hidden w-full md:flex md:w-auto  flex-grow" id="navbar-default">
      @if (islogin()) {
      <ul class="capitalize flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base t md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 ">
        <li>
          <a routerLink="/home" routerLinkActive="bg-green-600 text-white" class="block py-2 px-3 text-gray-700  rounded   " aria-current="page">home</a>
        </li>
        <li>
          <a routerLink="/products" routerLinkActive="bg-green-600 text-white" class="block py-2 px-3 text-gray-700  rounded   " aria-current="page">products</a>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="bg-green-600 text-white" class="block py-2 px-3 text-gray-700  rounded   " aria-current="page">cart</a>
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive="bg-green-600 text-white" class="block py-2 px-3 text-gray-700  rounded   " aria-current="page">categories</a>
        </li>
        <li>
          <a routerLink="/brands" routerLinkActive="bg-green-600 text-white" class="block py-2 px-3 text-gray-700  rounded   " aria-current="page">brandes</a>
        </li>
      </ul>}

      <ul class="capitalize ms-auto flex flex-col items-center p-4 md:p-0 mt-4 border border-default rounded-base t md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 ">   
        <li>
          <a href="#" class="block py-2 px-3 text-gray-700  rounded   md:p-0" aria-current="page">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-700  rounded   md:p-0" aria-current="page">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-700  rounded   md:p-0" aria-current="page">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        @if (!islogin()) {
        <li>
          <a routerLink="/login" routerLinkActive="bg-green-600 text-white" class="block py-2 px-3 text-gray-700  rounded   " aria-current="page">login</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="bg-green-600 text-white" class="block py-2 px-3 text-gray-700  rounded   " aria-current="page">register</a>
        </li>
        }@else {
        <li>
          <a 
          role="button" class="block py-2 px-3 text-gray-700  rounded cursor-pointer" (click)="logout()" aria-current="page">Signout</a>
        </li>}
       
      </ul> 
    </div>
  </div>
</nav>
